/* General */

.logo-font {
    font-family: 'Paytone One', 'sans-serif';
}

/* Toasts */

.toasted {
    font-family: 'Roboto' !important;
    font-weight: 500 !important;
}

.toasted .action {
    color: white !important;
}

.toasted .action:hover {
    color: lightgrey !important;
    text-decoration: none !important;
}

/* v-badge Special Visualization */

.miniBadgeIcon .v-badge__badge {
    color: #2DBD9C !important;
    min-width: 15px;
    height: 15px;
}

.miniBadgeIcon >>> .v-badge--icon .v-badge__badge {
    padding: 2px 3px;
}